main.cv-container {
  display: flex;
  gap: 5rem;
  margin: 3rem 8rem;
}

.sections {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

section {
  background-color: var(--color-sections-bg);
  box-shadow: var(--border-sections);
  border-radius: 3px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 350px;
}

section h4 {
  margin-bottom: 0.5rem;
}

section .form-line {
  display: flex;
  justify-content: space-between;
}

.preview {
  font-size: 0.8rem;
  flex: 1;
  background-color: var(--color-preview-bg);
  border: var(--border-preview);
  padding: 2rem 1.5rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview p {
  color: var(--color-preview-text);
}

.preview .preview-header {
  display: flex;
  justify-content: space-evenly;
}

.preview .preview-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview .box .box-content {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.preview h2 {
  margin-bottom: 0.5rem;
}

.preview .box-title {
  flex: 0 0 140px;
}

.preview .box-info {
  flex: 1;
}
