main.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 0 2rem;
}

.home-info h1 {
  font-size: 3.5rem;
}

.home-info p {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  color: var(--color-base-text);
}

.home-info button {
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
  padding: 10px 24px;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.home-info button:hover {
  background-color: var(--color-btn-bg-hover);
}

/* - - - MEDIA - - - */
@media (max-width: 440px) {
  .home-info h1 {
    font-size: 2.5rem;
  }

  .home-info p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .home-info button {
    font-size: 1.2rem;
  }
}
