/* righteous-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/righteous-v18-latin-regular.woff2') format('woff2');
}

:root.light {
  --color-titles: rgb(35 39 47);
  --color-base-bg: white;
  --color-base-text: rgb(64 71 86);
  --color-btn-bg: rgb(35 39 47);
  --color-btn-text: white;
  --color-btn-bg-hover: rgb(53, 56, 66);
  --border-header: 1px solid #e5e5e5;
  --color-sections-bg: #ebedf0;
  --border-sections: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
  --color-preview-bg: white;
  --color-preview-text: black;
  --border-preview: 1px solid rgba(0, 0, 0, 0.18);
  --border-divider: 1px solid rgb(154 154 154);
  --color-label: var(--color-titles);
  --color-input-bg: #fafcff;
  --color-input-text: #000000;
  --color-btn-trash: black;
}

:root.dark {
  --color-titles: rgb(246 247 249);
  --color-base-bg: #23272f;
  --color-base-text: rgb(127, 134, 148);
  --color-btn-bg: rgb(246 247 249);
  --color-btn-bg-hover: rgb(211, 211, 213);
  --color-btn-text: #23272f;
  --border-header: 1px solid #363b45;
  --color-sections-bg: rgb(52 58 70);
  --border-sections: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
  --color-preview-bg: #16181d;
  --color-preview-text: rgb(152, 152, 152);
  --border-preview: 1px solid rgba(157, 157, 157, 0.18);
  --border-divider: 1px solid rgb(169 169 169);
  --color-label: var(--color-titles);
  --color-input-bg: #252930;
  --color-input-text: #eee;
  --color-btn-trash: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-base-bg);
  color: var(--color-titles);
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

#root {
  display: flex;
  flex-direction: column;
}
