/* righteous-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/righteous-v18-latin-regular.woff2') format('woff2');
}

:root.light {
  --color-titles: rgb(35 39 47);
  --color-base-bg: white;
  --color-base-text: rgb(64 71 86);
  --color-btn-bg: rgb(35 39 47);
  --color-btn-text: white;
  --color-btn-bg-hover: rgb(53, 56, 66);
  --border-header: 1px solid #e5e5e5;
}

:root.dark {
  --color-titles: rgb(246 247 249);
  --color-base-bg: #23272f;
  --color-base-text: rgb(127, 134, 148);
  --color-btn-bg: rgb(246 247 249);
  --color-btn-bg-hover: rgb(211, 211, 213);
  --color-btn-text: #23272f;
  --border-header: 1px solid #363b45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}
